---
import Layout from '../../layouts/Layout.astro'
import PageHeaderText from '../../components/PageHeaderText.astro'
import { getCollection } from 'astro:content'
import MediaListItem from '../../components/MediaListItem.astro'

const podcasts = (await getCollection('podcasts')).sort(
  (a, b) => Date.parse(b.data.date) - Date.parse(a.data.date)
)
---

<Layout title="PODCASTS" description="All podcast episodes of @sota1235">
  <PageHeaderText>PODCASTS</PageHeaderText>
  <div class="mb-[200px]">
    {
      podcasts.map((item) => (
        <MediaListItem
          title={item.data.title}
          mediaTitle={item.data.mediaTitle}
          imageUrl={item.data.ogpImageUrl}
          link={item.data.link}
        />
      ))
    }
  </div>
</Layout>
